.clr-red {
  color: 'red';
}

.style_r: {
  margin: 10;
  top: 0;
  right: 17;
  bottom: 20;
  left: 'auto';
  position: 'fixed';
}

.style_link: {
  color: '#F5F5F5';
  font-size: 15;
}

.style_l: {
  margin: 5;
  top: 10;
  left: 134;
  bottom: 20;
  position: 'fixed';
}

.style_img: {
  margin: 5;
  left: 10;
  width: 100;
  height: 42;
}
