.menu-enter {
  max-height: 0px;
  -webkit-transition: max-height;
  overflow: hidden;
  width: 100%;
}

.menu-enter.menu-enter-active {
  height: auto;
  max-height: 100px;
  width: 100%;
}

.menu-leave {
  max-height: 100px;
  -webkit-transition: max-height;
  width: 100%;
}

.menu-leave.menu-leave-active {
  overflow: hidden;
  max-height: 0px;
  width: 100%;
}

ul.drop {
  margin-top: 7px;
  background-color: #333333;
  color: #6D6D6D;
  border: #333333 solid 7px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  width: 100%;
  padding-left:0.4em;
  font-size: 12pt;
  list-style-type: none;
}
