.navParLeft {
  color: #999;
  font-size: 14.5px;
  margin: -10px -35px -10px -25px;
  padding-left: 5px;
  padding-right: 5px;
}

.navParLeft:hover, .navParRight:hover{
  color: #ddd;
}

.navRightDiv {
  float: right;
}

.navParRight {
  margin-top: 3px;
  margin-left: -10px;
  color: #999;
  font-size: 14.5px;
  float: right:
}

.navPar:hover {
  color: #ddd;
}

@media screen
and (max-width: 460px) {
  input.search2 {
    font-size: 16px;
  }
}

@media screen
and (max-width: 1051px) {
  input.search {
    width: 120px;
  }
}

@media screen
and (max-width: 950px) {

  .logoDiv{
    position: relative;
    left: 40%;
    margin-top: -5px;
  }

  .logoDiv:hover {
    border-width: 2px;
    border-color: red;
  }

  .navLeftDiv {
    display: none;
  }

  .hideSup {
    display: none;
  }

  .showSign {
    position: absolute;
    right: 2%;
    top: 1.5%;
    margin: 0;
    padding: 0;
    font-size: 95%;
    vertical-align: baseline;
    border: 0;
    background: transparent;
  }

  .search {
    display: none;
  }

  input.search:not(:focus) {
    color: #adadad;
  }

  input.search::-webkit-input-placeholder {
      color: #adadad;
      font-size: 12px;
      line-height: 3;
  }

  input.search2 {
    display: block;
    line-height: 1;
    padding-top: 10px;
    padding-bottom: 8px;
    box-sizing: border-box;
  }

  .logo {
    margin-bottom: -16px;
    padding: 0 1px 0 1px;
  }

  .logo:hover {
    opacity: 0.5;
  }

  div.toggleNav {
    position: absolute;
    top: 0;
    left: 0px;
    display: block;
    width: 48px;
    height: 40px;
    text-indent: -9999px;
    background-repeat: no-repeat;
    background-position: 15px 50%;
    background-image: url("../pics/hamburger.png");
    opacity: 0.5;
  }

  div.toggleNav:hover {
    opacity: 1;
  }

  div.vertical-menu {
    top: 40px;
    width: 100%;
    height: 45px;
    background-color: rgba(47,47,47,0.98);
    background-image: none;
    opacity: 1;
  }

  div.vertical-menu a {
      background-color: rgba(47,47,47,0.98);
      color: #999;
      text-indent: 0;
      width: 100%;
      display: block;
      margin: 0;
      margin-right: 500px;
      text-decoration: none;
      text-align: left;
      height: auto;
      padding: 15px;
      font-size: 14px;
      line-height: 1;
      border-top: 1px solid rgba(255,255,255,0.08);
  }

  .vertical-menu hr {
      border-color: #ddd;
      border-width: 1px;
      border-style: inset;
      display: none;
  }

  a.toggleMenu {
    width: 48px;
    height: 40px;
  }

  div.showMenu {
    display: block;
  }

  div.hideMenu {
    display: none;
  }

  div.showMore {
    display: block;
  }

  div.hideMore {
    display: none;
  }

  div.moreMenu {
    top: 40px;
    width: 100%;
    background-color: rgba(47,47,47,0.98);
    background-image: none;
    opacity: 1;
  }

  div.moreMenu a {
      background-color: rgba(47,47,47,0.98);
      color: #999;
      text-indent: 0;
      width: 100%;
      display: block;
      margin: 0;
      margin-right: 500px;
      text-decoration: none;
      text-align: left;
      height: auto;
      padding: 15px;
      font-size: 14px;
      line-height: 1;
      border-top: 1px solid rgba(255,255,255,0.08);
      z-index: 999999;
  }

  p.moreLink {
    font-weight: 600;
    text-align: center;
    color: #fff;
    margin: 0;
    background: url("../pics/more_arrow-rev.png") no-repeat;
    background-position: 0 50%;
  }

  .moreArrow {
    background-image: url("../pics/more_arrow.png");
    background-repeat: no-repeat;
    background-position: 98% 50%;
  }

  div.moreMenu a.separate {
    border-top: 2px solid #555;
  }
}

.toggleNav {
  display: none;
}

input.inputResize {
  width: 150px;
}

.search {
  width: 220px;
  height: 25px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: none;
  margin-top: 15px;
  margin-right: 25px;
  margin-left: 10px;
  position: relative;
  font-size: 12px;
  line-height: 1.5;
  background-image: url("../pics/search.png");
  background-position: 5px;
  background-size: 15px 15px;
  background-repeat: no-repeat;
  text-indent: 24px;
}

.search2 {
  display: none;
  width: 90%;
  padding: 10px 5px 10px 25px;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 1.5;
  margin-left: 5%;
  font-weight: normal;
  vertical-align: middle;
  color: #bbb;
  border: none;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: 7px 50%;
  background-image: url("../pics/search.png");
  border-radius: 4px;
  background-position: 5px;
  background-size: 15px 15px;
  margin-bottom: 10px;
}

.search2:focus {
  color: #444;
  outline: none;
}

::placeholder {
  color: #bbb;
}

.logo {
  margin-top: -8px;
  margin-right: -28px;
  width: 100px;
  height: 42px;
}

a.dropLinkA {
  font-size: 12px;
  color: #999;
}

hr.dropHr {
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: #444;
}

.triDot {
  display: block;
  text-indent: -9999px;
  padding-left: 22px;
  background-repeat: no-repeat;
  background-position: 0 50%;
  background-image: url(https://cdn.dribbble.com/assets/icon-more-dots-8624bddd5cc1950979b7c8dc571cf95d0e314600a9f8e43d99a17b57877808b6.png);
  opacity: 0.5;
}

.triDot:hover {
  opacity: 1;
}

.navlinkA {
  margin: -10px -30px -10px -15px;
  color: #999;
  font-size: 14.5px;
  vertical-align: baseline;
}

.containerNav {
    overflow: hidden;
    background-color: #333;
    font-family: Arial;
    max-height: 56px;
}

.containerNav a {
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdownNav {
    float: left;
    overflow: hidden;
}

div.dropdownNav button.dropbtnNav {
    border: none;
    outline: none;
    padding: 14px 16px;
    background-color: inherit;
}

.containerNav a:hover, div.dropdownNav:hover button.dropbtnNav {
    color: #ddd;
}

div.dropdown-contentNav {
position: absolute;
opacity: 0.99;
font-size: 13px;
display: none;
line-height: 1;
float: left;
width: 180px;
margin-left: -5px;
margin-top: -2px;
padding: 0 0 10px 0;
background: rgba(47,47,47,0.98);
border-radius: 6px;
border-top-left-radius: 0;
border-top-right-radius: 0;
box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
-webkit-background-clip: padding-box;
-moz-background-clip: padding-box;
background-clip: padding-box;
z-index: 999;
}

div.dropdown-contentNav a {
    float: none;
    color: #999;
    padding: 6px 10px 6px 20px;
    text-decoration: none;
    display: block;
    text-align: left;
}

div.dropdown-contentNav a:hover {
    background-color: #444;
}

p.parNav:hover {
  color: #F5F5F5;
}

div.dropdownNav:hover div.dropdown-contentNav {
    display: block;
}

.vertical-menu {
  display: none;
}
