nav ul li:hover > ul {
    position: absolute;
    display: block;
}

.style_r: {
  margin: 10px;
  top: 0px;
  right: 17px;
  bottom: 20px;
  left: 'auto';
  position: 'fixed';
}

.style-link: {
  color: #F5F5F5;
  font-size: 15pt;
}

.style_l: {
  margin: 5px;
  top: 10px;
  left: 134px;
  bottom: 20px;
  position: 'fixed';
}

.style_img: {
  margin: 5px;
  left: 10px;
  width: 100px;
  height: 42px;
}
