nav {
  height: 56px;
  position: relative;
}

nav ul li:hover > ul {
    position: relative;
    display: block;
}

input.auth {
  width: 500px;
}

input.search {
  width: 220px;
  height: 25px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: none;
  top: 5px;
  position: relative;
  font-size: 12px;
  line-height: 1.5;
  background-image: url("../pics/search.png");
  background-position: 5px;
  background-size: 15px 15px;
  background-repeat: no-repeat;
  text-indent: 24px;
}

input.search:not(:focus) {
  color: #adadad;
}

input.search::-webkit-input-placeholder {
    color: #adadad;
    font-size: 12px;
    line-height: 3;
}

p.sub_label {
  font-size: 12px;
  color: #999;
}

.error {
  color: red;
}

.style_r: {
  margin: 10px;
  top: 0px;
  right: 17px;
  bottom: 20px;
  left: 'auto';
  position: 'relative';
}

.style-link: {
  color: #F5F5F5;
  font-size: 15pt;
}

ul.style_l: {
  top: 10px;
  bottom: 20px;
  position: 'relative';
}

img.logo: {
  top: 20px;
  position: 'relative',
}
