@media screen
and (max-width: 935px){
  form.formStyle1 {

  }
}

@media screen
and (max-width: 845px){
  .colStyle1 {
    left: -45px;
  }

  hr.vertical1 {

  }

  input.auth1 {
    left: 145px;
  }

  div.signinRight1 {
    margin-left: 10px;
  }
}

@media screen
and (max-width: 480px){
  button.signin1 {
    width: 100%;
  }

  a.auth-twitter1 {
    margin: 10px -20px 5px -21px;
    width: 100%;
    box-sizing: border-box;
    padding: 15px 0 15px 0;
    font-size: 0.9em;
    text-align: center;
    line-height: 1;
    font-weight: normal;
  }

  hr.vertical1 {
    transform: rotate(0deg);
    background: #666;
    width: 330%;
    height: 0.1px;
    margin-top: -80px;
    margin-bottom: 0;
  }
}

.form-control >input {
  width: 270px;
}

input.auth1 {
  width: 250px;
  border: none;
  border-radius: 6px;
  font: 18px "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 8px 10px;
  margin-right: 8px;
  color: #444;
  outline: none;
}

div.smallReso1 {
  color: red;
}

div.errorContainer1 {
  flex: 1;
}

div.signinTitle1 {
  color: #999;
  font-size: 22pt;
  padding-top: 1%;
}

div.error1 {
  background-color: #f55;
  min-width: 1000px;
}

div.notice1 {
  padding: 15px;
  font-size: .9em;
  font-weight: normal;
  text-align: center;
  color: #fff;
  background: #f55;
  min-width: 1000px;
}

h2.notice1 {
  max-width: 940px;
  margin: 0 auto;
  font-size: 1.3em;
  font-weight: normal;
  line-height: 1.3;
  text-align: center;
}

p.blw-twitter1 {
  margin: 0 0 0 0;
  font-size: 0.8em;
  line-height: 1.5;
  color: #999;
  min-width: 300px;
}

.signinRight1 {
  top: 2em;
}

.auth-twitter1 {
    display: inline-block;
    margin: 0 0 15px 5px;
    padding: 6px 12px 6px 40px;
    font-size: 1.2em;
    font-weight: normal;
    text-decoration: none;
    color: rgba(255,255,255,0.9);
    border: none;
    background: url(https://qph.ec.quoracdn.net/main-qimg-fdc49f7891d0daa00843ccc6dd215a66) no-repeat 15px 50%;
    background-size: 20px 16px, auto auto;
    background-color: #1d88b4;
    border-radius: 4px;
    min-width: 215px;
}

img.signin1 {
  width: 200px;
  height: 49px;
  margin-top: 5%;
}

.vertical1 {
  transform: rotate(-90deg);
  background: #666;
  width: 180px;
  height: 0.1px;
  margin-top: -160px;
}

div.signinup1 {
  color: #999;
  margin-top: 3%;
  min-width: 300px;
}

form.signin1 {
  top: 25%;
  left: 28%;
  max-width: 500px;
  min-width: 150px;
}

button.signin1 {
  display: block;
  font: normal 16px "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #ea4c88;
  border-radius: 4px;
  border: none;
  padding: 10px 12px;
  color: #fff;
  cursor: pointer;
  -webkit-appearance: none;
}

label.signin1 {
  color: #cccccc;
  font-size: 11pt;
  margin: 0px;
  min-width: 150px;
}

p.signin1 {
  color: #999;
  text-decoration: underline;
  display: inline-block;
  margin: 0px;
  margin-right: 26%;
}

p.signinForgot1 {
  color: #999;
  text-decoration: underline;
  display: inline-block;
  margin: 0px;
}

input.auth1:-webkit-autofill{
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}

p.sub_label1 {
  font-size: 12px;
  color: #999;
}

.error1 {
  color: red;
}
